<div id="content">
  <navigation></navigation>
  <item-menu></item-menu>
</div>

<router-outlet name="message" #message></router-outlet>


<div id="message" class="">
  <div class="left_line"></div>
  <div class="content">
    <div class="icon fl"></div>
    <div class="desc fr">
      <div class="clearfix">
        <span class="fl">MON</span>
        <span class="fl">本日主题:你觉得自己自伤怎么样,是不是很笨</span>
      </div>
      <div class="descript">
        刺刀的荣誉---维米尔的写实主义风格画迟到的的杀死
      </div>
    </div>
  </div>
  <a href="#"></a>
  <div class="triangle"></div>
</div>
